#pip install streamlit pandas numpy scikit-learn imbalanced-learn joblib
streamlit
pandas==2.2.2
numpy==2.0.2
scikit-learn==1.6.1
joblib==1.4.2
imbalanced-learn==0.13.0
scapy
tensorflow
matplotlib
seaborn
pynput==1.7.6
